<div>
    <div class="line">
        <label>Name</label> <span class="name"><%=name%></span> <button id="edit-name">Edit</button>
    </div>
    <div class="line">
        <label>Email</label> <span class="email"><%=email%></span> <button id="edit-email">Edit</button>
    </div>
    <div class="line">
        <label>Next Duty</label> <span class="date"><%=nextDuty%></span> <button id="request-swap">Request Swap</button>
    </div>
    <div class="line">
        <label>Previous Duty</label> <span class="date"><%=prevDuty%></span>
    </div>
</div>
