<div class="container">
    <div class="login-page clearfix">
        <div class="login-box auth0-box before">
            <h3>Rotavator Login</h3>
            <p>Rotavator manages rotas for clubs and other non-profits. Only your organisation can sign you up. Organisations can join by invite only at this time.</p>
            <i>This site uses browser cookies for login only. Logging in means you are ok with that.</i>
            <a id="qsLoginBtn" class="btn btn-primary btn-lg btn-block" href="/auth/login">Login</a>
        </div>
    </div>
</div>
